@import "./variables";


/* --------------------
       Typography
----------------------- */

h1 {
    @include headerStyle1(500, 3.25em, 60px);
}

h2 {
    @include headerStyle1(500, 30px, normal);
    margin-block-start: 0.5em;
}

h3 {
    @include headerStyle2(300, 18px, normal);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h4 {
    @include headerStyle1(400, 22px, normal);
}

h5 {
    @include headerStyle2(300, 13px, normal);
    margin-block-end: 0.5em;
}

body {
    @include bodyStyle();
    background: $primary;
}

a {
    @include headerStyle2(300, 16px, normal);
    color: $tertiary;
}

a.noStyle {
    text-decoration: none;
}

.category {
    @include headerStyle2(300, 15px, normal);
}

.title {
    font-size: 1.15em;
    font-weight: 600;
}

@media (min-width: 1025px) {
    h1 {
        @include headerStyle1(500, 74px, 90px);
    }
    
    h2 {
        @include headerStyle1(500, 50px, normal);
        margin-block-start: 0;
        margin-block-end: 0.5em;
    }
    
    h3 {
        @include headerStyle2(300, 28px, normal);
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    h4 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
}

/* --------------------
       General
----------------------- */

.category {
    border: 1px solid $tertiary;
    padding: 10px 20px;
    border-radius: 50px;
    flex: none !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.flexContainer {
    @include flexContainer();
}

.smallGap {
    gap: 10px;
}

button {
    background: $accent;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    @include headerStyle2(300, 16px, normal);
    color: $tertiary;
}

section {
    margin-bottom: $padding-lg;
}

ul {
    padding-inline-start: 1em;
}

li {
    list-style-type: '–';
    padding-left: 7px;
    margin-left: 15px;
}

li::marker {
    font-family: 'Inknut Antiqua', monospace;
}

@media (min-width: 1025px) {
    .textContainer {
        padding: 0;
    }
}

/* --------------------
       Navigation
----------------------- */

header {
    @include flexContainer($justify: space-between, $align: center, $gap: 0);
    @include pageWidth();
    position: sticky;
    top: 0;
    z-index: 99999;
}

nav ul {
    @include flexContainer($justify: space-between, $align: center);
    padding-inline-start: 0;

}

nav li {
    list-style-type: none;
}

/* --------------------
       Hero
----------------------- */

#hero {
    @include flexContainer($align: end);
    @include pageWidth();
    min-height: $hero-height;
    /* position: fixed;
    z-index: -1; */
}

/* .scrollContainer {
    min-height: $hero-height;
} */

#hero h1 {
    width: 80%;
}

/* --------------------
       Portfolio
----------------------- */

#work {
    @include flexContainer($direction: column, $align: stretch, $gap: $padding-sm);
    background: $secondary;
}

.imgContainer {
    width: 100%;
}

.imgContainer img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
}

article .imgContainer {
    position: relative;
}

.imgContainer button {
    position: absolute;
    left: calc(50% - 111.61px / 2);
    right: calc(50% - 111.61px / 2);
    top: calc(50% - 43px / 2);
    bottom: calc(50% - 43px / 2);
}

.textContainer {
    padding: 0 30px 30px;
}

#overview {
    @include flexContainer($direction: column, $gap: 2em);
}

.userCard {
    @include flexContainer($direction: column);
    flex: 1 1 200px;
    padding: $padding-xs;
}

.userCard img {
    width: 100px;
}

.userCard div {
    flex: 2 1 200px;
}

.userCard h4 {
    margin-block-start: 0;
}

.profilesContainer {
    @include flexContainer($align: stretch);
}

#research, #outcomes, #prototype {
    @include pageWidth();
}

.flexContainer div {
    flex: 1 1 200px;
}

#challenge .flexContainer {
    padding: $padding-lg;
}

#overview div {
     flex: 1 1 200px;
}

#images {
    @include pageWidth();
    @include flexContainer($justify: center, $gap: $padding-xs);
}

#images img {
    width: calc(50% - $padding-xs);
}

@media (max-width: 1025px) {
    #overview .textContainer {
        @include pageWidth();
    }
}

@media (min-width: 1025px) {
    #work {
        padding: $padding-lg;
        padding-right: 10%;
        margin-left: 10%;
    }

    article button {
        display: none;
    }

    article:hover button {
        display: block;
    }

    article {
        @include flexContainer($align: center);
    }

    #work article:not(:last-child) {
        border-bottom: $border;
        padding-bottom: $padding-sm;
    }

    .imgContainer {
        flex: 1 1 300px;
    }

    .textContainer {
        flex: 2 1 300px;
    }
    
    .imgContainer img {
        height: 600px;
    }

    .imgContainer img {
        height: 350px;
    }

    .profilesContainer {
        width: 85%;
        margin: 0 auto;
    }

    .userCard {
        @include flexContainer($gap: 1.5em);
    }

    #research .textContainer {
        width: 50%;
        margin: $padding-lg auto 0;
    }

    #challenge, #overview {
        @include pageWidth();
    }

    #overview {
        @include flexContainer($align: center, $gap: 2em);
    }

    #outcomes {
        width: 65%;
        margin: 0 auto $padding-lg;
    }
}

/* --------------------
         About
----------------------- */

#about .textContainer {
    @include pageWidth();
}

#about {
    padding-top: 30px;
    background: $primary;
}

#about .flexContainer {
    @include flexContainer($direction: column, $gap: 0);
}

.resumeContainer {
    @include flexContainer();
}

.resumeContainer h3 {
    margin-block-end: 0;
}

.resumeContainer ul {
    margin-block-start: 0.5em;
}

@media (min-width: 1025px) {
    .resumeContainer {
        @include pageWidth();
    }

    .resumeContainer .imgContainer {
        flex: 1 1 300px;
    }

    .resumeContainer .textContainer {
        flex: 2 1 300px;
    }

    #about .flexContainer {
        @include flexContainer($direction: row, $gap: 0);
        flex: 3 1 300px;
    }

    #about .flexContainer .textContainer {
        padding: 0;
    }
}

footer {
    @include pageWidth();
}
