@import "./variables";


/* --------------------
       Typography
----------------------- */

h1 {
    @include headerStyle1(500, 50px, 60px);
}

h2 {
    @include headerStyle1(500, 30px, auto);
    margin-block-start: 0.5em;
}

h3 {
    @include headerStyle2(300, 18px, auto);
    margin-block-end: 0.5em;
}

h4 {
    @include headerStyle1(400, 22px, auto);
}

h5 {
    @include headerStyle2(300, 13px, auto);
}

body {
    @include bodyStyle();
    background: $primary;
}

a {
    @include headerStyle2(300, 16px, auto);
}

.category {
    @include headerStyle2(300, 15px, auto);
}

/* --------------------
       General
----------------------- */

.category {
    border: 1px solid $tertiary;
    padding: 10px 20px;
    border-radius: 50px;
    width: fit-content;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.flexContainer {
    @include flexContainer();
}

.smallGap {
    gap: 10px;
}

button {
    background: $accent;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    @include headerStyle2(300, 16px, auto);
    color: $tertiary;
}


/* --------------------
       Portfolio
----------------------- */

#work {
    background: $secondary;
}

.imgContainer {
    width: 100%;
}

.imgContainer img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
}

.textContainer {
    padding: 0 30px 30px;
}

/* --------------------
         About
----------------------- */

#about .textContainer {
    padding: 0 30px;
}

#about {
    padding-top: 30px;
}

#about .flexContainer {
    @include flexContainer($direction: column, $gap: 0);
}

