footer 
    div 
        h5 Follow me 
        div.flexContainer
            a(href="https://linkedin.com/in/hadley-slucher" target="blank") 
                h3 LinkedIn 
            a(href="https://github.com/hadleyjpg" target="blank")    
                h3 Github 
            a(href="https://instagram.com/hadley.jpg" target="blank")
                h3 Instagram 
        h3 Let's collaborate – 
            a(href="mailto:hello@hadley.work") hello@hadley.work
    div 
        a(href="#top")
            h5 Back to top    