header(style=`background: ${primary}`)
    a(href="index.hmtl").noStyle
        h3 Hadley Slucher
    nav
        ul  
            li 
                a(href="index.hmtl#about") About
            li 
                a(href="index.hmtl#work") Work 
            li 
                a(href="index.hmtl#contact") Contact