doctype html
html(lang="en")
    head
        include includes/head
        
        title Hadley Slucher – Page not found
    body

        - var primary = '#F7F5F2'

        include includes/nav

        section#hero 
            h1 Oops! Looks like you found a page that does not exist.
            a(href="index.html")
                button Back to home