extends portfolio-page.pug

block variables

    - var primary = '#f1f4f7'
    - var secondary = '#00375F'
    - var tertiary = '#CFD9E4'
    - var accent = '#afd7ff'
    - var textColor = '#344854'
    - var textColorSecondary = '#ffffff'

    - var pageTitle = 'Hadley Slucher – DCIM'

    - var tagLine = 'Empowering tech company’s digital infrastructure'

    // Overview

    - var overview = 'The existing DCIM landing page was outdated, prompting the stakeholders to seek an upgrade to meet contemporary standards. A centralized platform was required for DCIM team members to access essential documentation for their work. Additionally, the landing page serves as a resource hub for external teams to gain insights into products, services, and submission processes.'

    - var projectDuration = '4 weeks'

    - var role = 'UI/UX Designer, Web Developer'

    - var tools = 'Figma, Adobe Illustrator'

    - var overviewImgURL = 'images/dcim/DCIM_introimg.jpg'

    - var overviewImgAlt = ''

    // Problem
    
    - var problem = 'The challenge was to streamline information and improve user experience by emphasizing key elements, such as the intro video and points of contact, while addressing user questions about information location. The coding environment presented limitations in terms of CSS functionality, which required finding workarounds to achieve the desired design.'
    
    - var objectiveOne = 'Create centralized hub for DCIM team members to locate documentation.'
    
    - var objectiveTwo = 'Emphasize the introductory video to provide external teams with a comprehensive overview of the team’s functions.'
    
    - var objectiveThree = 'Implement standardized request submission processes and ensure accurate points of contact for each service or product.'

    // Images (CONTENT STILL NEEDED)

    // Research

    - var userImgURL = '../images/persona.png'

    - var userOneName = 'DCIM Team Member'

    - var userOneDesc = 'This individual seeks a user guide to ensure adherence to the correct procedures within the DCIM team, specifically for the Alert Manager product they are involved with.'

    - var userTwoName = 'Potential Collaborator'

    - var userTwoDesc = 'This individual is seeking comprehensive insights into the operational dynamics of DCIM and the specific products they support within the company.'

    - var research = 'I conducted stakeholder interviews to identify the target audience as DCIM team members and potential collaborators. Based on the insights gathered, I researched industry standards and strategized an efficient and user-friendly approach to cater to both experienced and new users. To stay updated with design trends and enhance user experience, I leverage resources like Page Collective and Dribbble.'

    // Visual Design Elements

    // Outcomes

    - var outcomeOne = 'The feedback from DCIM team members indicated a positive user experience and ease of use, affirming the site’s effectiveness in providing them with relevant information.'
    
    - var outcomeTwo = 'Potential collaborators engaged with the introduction video and successfully identifying the appropriate points of contact for their desired product or service.'
    
    - var outcomeThree = 'The DCIM team now possesses a comprehensive visual design system and a set of reusable UI components, streamlining the ideation process for future designers.'

block content 
    section#prototype 
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="550" src="https://embed.figma.com/proto/ZrYcJBWXjV4gFTnkhAZBaS/DCIM_Redacted?page-id=124%3A131&node-id=17-32&p=f&viewport=835%2C748%2C0.19&scaling=scale-down&content-scaling=fixed&starting-point-node-id=17%3A32&embed-host=share" allowfullscreen></iframe>