doctype html
html(lang="en")
    head
        include includes/head 
        
        title Hadley Slucher
    body

        - var primary = '#F7F5F2'

        include includes/nav

        section#hero 
            h1 Versatile web designer and avid font lover.

        div.scrollContainer    

        section#work 
        
            include includes/article

            +article("../images/fileworks/header.jpg", "../docs/fileworks.html", "Fileworks", "Introducing a new document management tool", "UI/UX Design", "Web Development")

            +article("../images/paradox/header.jpg", "../docs/paradox.html", "The Paradox Show", "A monthly showcase of creativity", "Web Design", "Wordpress Development")

            +article("../images/dcim/header.jpg", "../docs/dcim.html", "DCIM", "Empowering tech company’s digital infrastructure", "UI/UX Design", "Web Development")

            +article("../images/pharmcbd/header.jpg", "../docs/pharmcbd.html", "Pharm CBD", "Bringing CBD to another level", "Web Design", "Wordpress Development")

        section#about
            div.textContainer 
                h3 About 
                h2 Hadley is a Chicago based web designer and developer.
            div.resumeContainer 
                div.imgContainer 
                    img(src="../images/headshot.jpg" alt="headshot")
                div.flexContainer
                    div.textContainer 
                        include includes/resume-item
                        h3 Education
                        ul 
                            +resume-item("UX Design Fundamentals ", "Coursera, 2023")
                            +resume-item("Visual Elements of User Interface Design ", "Coursera, 2023")
                            +resume-item("Front-End Development ", "Code Louisville, 2020")
                            +resume-item("B.A. in Media Communications ", "Asbury University, 2018")
                        h3 Tech Skills
                        ul
                            li Adobe Creative Cloud
                            li Figma
                            li HTML
                            li CSS
                            li JavaScript
                            li Git
                            li Github
                            li Visual Studio Code
                            li CMS (WordPress, Shopify, Webflow, etc.)
                    div.textContainer 
                        h3 Experience
                        ul 
                            +resume-item("Web Designer ", "Freelance, Present")
                            +resume-item("UI/UX Designer ", "OrangePeople, 2021-2023")
                            +resume-item("Web Designer ", "Noteworthy Creative Group, 2018-2021")
                            +resume-item("Creative Director ", "Asbury Collegian, 2017-2018")
                            +resume-item("Web Producer ", "Real Medicine Foundation, 2015-2018")
                            +resume-item("Design Intern ", "Kworq, 2017")

        include includes/footer