extends portfolio-page.pug

block variables

    - var primary = '#0B2949'
    - var secondary = '#11436F'
    - var tertiary = '#11436F'
    - var accent = '#FFD521'
    - var textColor = '#F1F4F7'
    - var textColorSecondary = '#4B4B4B'

    - var pageTitle = 'Hadley Slucher – NIS'

    - var tagLine = ''

    // Overview

    - var overview = ''

    - var projectDuration = ''

    - var role = 'UI/UX Designer, Web Developer'

    - var tools = 'Figma, Adobe Illustrator'

    - var overviewImgURL = '../images/default.jpg'

    - var overviewImgAlt = ''

    // Problem
    
    - var problem = ''
    
    - var objectiveOne = ''
    
    - var objectiveTwo = ''
    
    - var objectiveThree = ''

    // Images (CONTENT STILL NEEDED)

    // Research

    - var userImgURL = '../images/persona.png'

    - var userOneName = ''

    - var userOneDesc = ''

    - var userTwoName = ''

    - var userTwoDesc = ''

    - var research = ''

    // Visual Design Elements

    // Outcomes

    - var outcomeOne = ''
    
    - var outcomeTwo = ''
    
    - var outcomeThree = ''

block content 
    section#prototype 
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="550" src="https://embed.figma.com/proto/7ULR5qZoYYKbQ4nysmzyKb/NIS_Redacted?page-id=1%3A3&node-id=48-99&viewport=445%2C218%2C0.06&scaling=scale-down&content-scaling=fixed&starting-point-node-id=48%3A99&embed-host=share" allowfullscreen></iframe>