extends portfolio-simple.pug

block variables

    - var primary = '#11294f'
    - var secondary = ''
    - var tertiary = ''
    - var accent = '#e9bf39'
    - var textColor = '#ffffff'
    - var textColorSecondary = '#ffffff'

    - var pageTitle = 'Hadley Slucher – The Paradox Show'

    - var tagLine = 'A monthly showcase of creativity'

    // Overview

    - var overview = 'The Paradox Show is a monthly showcase featuring local creatives exhibiting their work and musicians performing at intimate venues in Louisville, KY. I had the privilege of collaborating with the team to develop the logo and brand identity for the show, in addition to the creation of their website. Their main goal was to have a dynamic website that could be easily updated with the latest show dates and featured artists. The website also facilitated ticket purchases and provided a streamlined contact process for artists interested in booking. I contributed to the creation of various promotional materials, including business cards and coasters, to enhance their visibility and outreach within the Louisville community.'

    - var role = 'Web & Brand Designer, Wordpress Developer'

    - var tools = 'Figma, Adobe Illustrator, Wordpress'

    - var overviewImgURL = 'images/paradox/paradox-logo.png'

    - var overviewImgAlt = ''

block content
    section#images
        img(src="images/paradox/paradox-web1.jpg" )
        img(src="images/paradox/paradox-bc.jpg" )
        img(src="images/paradox/paradox-coaster.jpg" )
        img(src="images/paradox/paradox-web2.jpg" )
        img(src="images/paradox/paradox-web3.jpg" )
        img(src="images/paradox/paradox-web4.jpg" )
        img(src="images/paradox/paradox-web5.jpg" )
        img(src="images/paradox/paradox-web6.jpg" )