extends portfolio-simple.pug

block variables

    - var primary = '#11294f'
    - var secondary = ''
    - var tertiary = ''
    - var accent = '#e9bf39'
    - var textColor = '#ffffff'
    - var textColorSecondary = '#ffffff'

    - var pageTitle = 'Hadley Slucher – The Paradox Show'

    - var tagLine = 'A monthly showcase of creativity'

    // Overview

    - var overview = 'An innovative tool was developed to streamline internal operations and enhance technical documentation, significantly improving overall efficiency within the company. In response to this development, stakeholders wanted to establish a comprehensive landing page to showcase the tool’s impact, objectives, and ongoing enhancements.'

    - var role = 'Web Designer, Wordpress Developer'

    - var tools = 'Figma, Adobe Illustrator, Wordpress'

    - var overviewImgURL = '../images/paradox/paradox-logo.png'

    - var overviewImgAlt = ''

block content
    section#images
        img(src="../images/paradox/paradox-web1.jpg" )
        img(src="../images/paradox/paradox-bc.jpg" )
        img(src="../images/paradox/paradox-coaster.jpg" )
        img(src="../images/paradox/paradox-web2.jpg" )
        img(src="../images/paradox/paradox-web3.jpg" )
        img(src="../images/paradox/paradox-web4.jpg" )
        img(src="../images/paradox/paradox-web5.jpg" )
        img(src="../images/paradox/paradox-web6.jpg" )