extends portfolio-simple.pug

block variables

    - var primary = '#222222'
    - var secondary = ''
    - var tertiary = ''
    - var accent = '#f3bf6c'
    - var textColor = '#ffffff'
    - var textColorSecondary = '#ffffff'

    - var pageTitle = 'Hadley Slucher – Pharm CBD'

    - var tagLine = 'Bringing CBD to another level'

    // Overview

    - var overview = 'Pharm CBD approached our company to revamp the visual aesthetics of their e-commerce site while preserving their order history. The existing site lacked vibrancy and structure, prompting me to create a refreshed and organized appearance. I streamlined the navigation links to enhance clarity and introduced dedicated sections to showcase specials and wholesale offerings. Furthermore, I integrated several new functionalities into their store, such as a subscription option for products and the capability to offer discounts like “buy 4 get 1 free.” Following the launch of the redesign, I achieved a 5% increase in average session duration and a 5% boost in the number of sessions per user.'

    - var role = 'Web Designer, Wordpress Developer'

    - var tools = 'Figma, Adobe Illustrator, Adobe Photoshop, Wordpress'

    - var overviewImgURL = '../images/pharmcbd/pharm-filler.jpg'

    - var overviewImgAlt = ''

block content
    section#images
        img(src="../images/pharmcbd/pharm-web1.jpg" )
        img(src="../images/pharmcbd/pharm-web2.jpg" )
        img(src="../images/pharmcbd/pharm-web4.jpg" )
        img(src="../images/pharmcbd/pharm-web5.jpg" )