footer 
    div 
        h5 Follow me 
        div 
            h3 LinkedIn 
            h3 Github 
            h3 Instagram 
        h3 Let's collaborate – hello@haldey.work
    div 
        h5 Back to top    